<!DOCTYPE html>
<html>

<head>
    <title>GHRS</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylesheets/main.css">
</head>

<body>
    <div class="container">
        <h1>Make an Entry</h1>
        <form action="/entry" method="POST" class="entry-form">
            <div class="form-group">
                <label for="vehicle_entry_number">Vehicle Registration No.</label>
                <input type="text" class="form-control" id="vehicle_entry_number"name="vehicle_entry_number"
                    placeholder="HP-22A-9922">
            </div>
            <div class="form-group">
                <label for="in_time">In Time</label>
                <input type="time" class="form-control" name="in_time" id="in_time" value="11:00:00">
            </div>
            <div class="form-group">
                <label for="out_time">Out Time</label>
                <input type="time" class="form-control" name="out_time" id="out_time" value="14:00:00">
            </div>
            <button type="submit" class="btn btn-primary">Add entry</button>
        </form>
    </div>
</body>

</html>