<!DOCTYPE html>
<html>

<head>
    <title>CarIn</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylesheets/main.css">
    </head>
<body>
    <div class="container">
        <h1>Automated Vehicle Entry System</h1>
        <div class="container">
            <div class = "row">
                <div class="col-md-3">
                    <div class="card card-style">
                        <img src="static/images/car.png" class="card-img-top">
                        <div class="card-body">
                            <form action="/register" method = "GET"> 
                                <button type = "submit" class="btn btn-success">New Registration</button>
                            </form>
                        </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-style">
                        <img src="static/images/barrier.png" class="card-img-top">
                        <div class="card-body">
                            <form action="/search" method="GET">
                                <button type="submit" class="btn btn-success">New Entry</button>
                            </form>
                        </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-style">
                        <img src="static/images/cars.png" class="card-img-top">
                        <div class="card-body">
                            <form action="/registrations" method="GET">
                                <button type="submit" class="btn btn-info">View Registrations</button>
                            </form>
                        </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-style">
                        <img src="static/images/time.png" class="card-img-top">
                        <div class="card-body">
                            <form action="/entries" method="GET">
                                <button type="submit" class="btn btn-info">View Entries</button>
                            </form>
                        </div>
                </div>
                </div>
                </div>
            </div>
    </div>

</body>

</html>