<!DOCTYPE html>
<html>

<head>
    <title>GHRS</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylesheets/main.css">
</head>

<body>
    <div class="container">
        <h1>Vehicle Registrations</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Registration No.
                    </th>
                    <th>
                        Owner Name
                    </th>
                    <th>
                        Owner Mobile No.
                    </th>
                </tr>
            </thead>
            <tbody>     
                {% for row in registrations %}
                <tr>
                    <td>
                        {{row[0]}}
                    </td>
                    <td>
                        {{row[1]}}
                    </td>
                    <td>
                        {{row[2]}}
                    </td>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>